
$login-bg:  linear-gradient(to right, #d29720 , #f0cc19);

body{
    background-image: $login-bg;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
}
.login-page{
    margin-top: 100px;
}
.login-img{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    box-shadow:0 0 10px 0 rgb(48, 42, 25),inset 0 0 10px 0 rgb(218, 174, 27);
}